body {
  font-family: "Montserrat"
}

#title {
  background-color: #ff4c68;
  color: #fff;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image  */
.title-image {
  width: 50%;
  left: 50px;
  top: -1px;
  position: absolute;
  transform: rotate(25deg);
}

.title-image-box {
  position: relative;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 7% 15%;
}

.features-box {
  text-align: center;
  padding: 4.5%;
}

.features-icon {
  color: #ef8172;
  font-size: 3rem;
  padding: 15px;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-p {
  color: #8f8f8f;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1132px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 10% 6%;

}

.cta-h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  padding: 15px 7px;
}
